<h1 style="color: #004b87">Question 1</h1>
<p>Consider the following Python module:</p>
<pre><code>a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
</code></pre>
<p>After importing the module into the interpreter, you execute:</p>
<pre><code>&gt;&gt;&gt; b()
&gt;&gt;&gt; b()
&gt;&gt;&gt; b()
&gt;&gt;&gt; a
?</code></pre>
<p>What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.</p>

In [1]:
a = 0

def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2

In [2]:
b()
b()
b()
a

6

<ol>
    <li>'a' is initialised to 0 in global scope when program starts to run.</li>
    <li>
        <b>b()</b> - function b is called
        <ul>
            <li><b>global a</b> - we are going to use global variable 'a' in this function.</li>
            <li>
                <b>a = c(a)</b>
                <ul>
                    <li>
                        <b>c(a)</b> - c(0) is called
                        <ul>
                            <li><b>return a + 2</b> - return 0 + 2 - returns 2</li>
                        </ul>
                    </li>
                    <li>2 is assigned to 'a' in global scope</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <b>b()</b> - function b is called
        <ul>
            <li><b>global a</b> - we are going to use global variable 'a' in this function.</li>
            <li>
                <b>a = c(a)</b>
                <ul>
                    <li>
                        <b>c(a)</b> - c(2) is called
                        <ul>
                            <li><b>return a + 2</b> - return 2 + 2 - returns 4</li>
                        </ul>
                    </li>
                    <li>4 is assigned to 'a' in global scope</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <b>b()</b> - function b is called
        <ul>
            <li><b>global a</b> - we are going to use global variable 'a' in this function.</li>
            <li>
                <b>a = c(a)</b>
                <ul>
                    <li>
                        <b>c(a)</b> - c(4) is called
                        <ul>
                            <li><b>return a + 2</b> - return 4 + 2 - returns 6</li>
                        </ul>
                    </li>
                    <li>6 is assigned to 'a' in global scope</li>
                </ul>
            </li>
        </ul>
    </li>
    <li><b>a</b> - displaying value of 'a' which is 6</li>
</ol>

<h1 style="color: #004b87;">Question 2</h1>
<p>Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:</p>
<pre>
<code>
&gt;&gt;&gt; fileLength('midterm.py')
284
&gt;&gt;&gt; fileLength('idterm.py')
Traceback (most recent call last):
  File "&lt;pyshell#34&gt;", line 1, in &lt;module&gt;
    fileLength('idterm.py')
  File "/Users/me/midterm.py", line 3, in fileLength
    infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
</code>
</pre>
<p>As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function <code>fileLength()</code> so that a friendly message is printed instead:</p>
<pre>
<code>
&gt;&gt;&gt; fileLength('midterm.py')
358
&gt;&gt;&gt; fileLength('idterm.py')
File idterm.py not found.
</code>
</pre>

In [3]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f'File {file_name} not found.')

In [4]:
fileLength('midterm.txt')

44

In [5]:
fileLength('idterm.txt')

File idterm.txt not found.

<h1 style="color: #004b87;">Question 3</h1>
<p>Write a class named Marsupial that can be used as shown below:</p>
<pre><code>
&gt;&gt;&gt; m = Marsupial()
&gt;&gt;&gt; m.put_in_pouch('doll')
&gt;&gt;&gt; m.put_in_pouch('firetruck')
&gt;&gt;&gt; m.put_in_pouch('kitten')
&gt;&gt;&gt; m.pouch_contents()
['doll', 'firetruck', 'kitten']
</code></pre>
<p>Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:</p>
<ol type="a">
<li>extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,</li>
<li>supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and</li>
<li>overloads the __str__ operator so it behaves as shown below.</li>
</ol>
<pre>
<code>
&gt;&gt;&gt; k = Kangaroo(0,0)
&gt;&gt;&gt; print(k)
I am a Kangaroo located at coordinates (0,0)
&gt;&gt;&gt; k.put_in_pouch('doll')
&gt;&gt;&gt; k.put_in_pouch('firetruck')
&gt;&gt;&gt; k.put_in_pouch('kitten')
&gt;&gt;&gt; k.pouch_contents()
['doll', 'firetruck', 'kitten']
&gt;&gt;&gt; k.jump(1,0)
&gt;&gt;&gt; k.jump(1,0)
&gt;&gt;&gt; k.jump(1,0)
&gt;&gt;&gt; print(k)
I am a Kangaroo located at coordinates (3,0)
</code>
</pre>

In [6]:
class Marsupial():
    
    def __init__(self):
        self.pouch = [];
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)

In [7]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
class Kangaroo(Marsupial):
    
    def __init__(self, xcoord, ycoord):
        Marsupial.__init__(self)
        self.x = xcoord
        self.y = ycoord
        
    def jump(self, dx, dy):
        self.x = self.x+dx
        self.y = self.y+dy
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [9]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [10]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [11]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

<h1 style="color: #004b87;">Question 4</h1>
<p>Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:</p>
<pre>
<code>
x = {
  x/2 if x is even
  3x + 1 if x is odd
}
</code>
</pre>
<p>Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.</p>
<pre>
<code>
&gt;&gt;&gt; collatz(1)
1
&gt;&gt;&gt; collatz(10)
10
5
16
8
4
2
1
</code>
</pre>

In [12]:
def collatz(x):
    print(x)
    if x <= 1:
        return
    if x%2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [13]:
collatz(1)

1

In [14]:
collatz(10)

10
5
16
8
4
2
1

<h1 style="color: #004b87;">Question 5</h1>
<p>Write a recursive method binary() that takes a non-negative integer <code>n</code> and prints the binary representation of integer <code>n</code>.</p>
<pre>
<code>
&gt;&gt;&gt; binary(0)
0
&gt;&gt;&gt; binary(1)
1
&gt;&gt;&gt; binary(3)
11
&gt;&gt;&gt; binary(9)
1001
</code>
</pre>

In [15]:
def binary(n):
    if n < 2:
        return n
    return binary(n // 2) * 10 + n%2

In [16]:
binary(0)

0

In [17]:
binary(1)

1

In [18]:
binary(3)

11

In [19]:
binary(9)

1001

<h1 style="color: #004b87;">Question 6</h1>
<p>Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.</p>
<pre>
<code>
&gt;&gt;&gt; infile = open('w3c.html')
&gt;&gt;&gt; content = infile.read()
&gt;&gt;&gt; infile.close()
&gt;&gt;&gt; hp = HeadingParser()
&gt;&gt;&gt; hp.feed(content)
W3C Mission
 Principles
</code>
</pre>

In [20]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    headings = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    
    
    def __init__(self):
        super().__init__()
        self.isInHeadingTag = False
        self.indentation = 0

    
    def handle_starttag(self, tag, attrs):
        if tag in self.headings:
            self.isInHeadingTag = True
            self.indentation = int(tag[1]) - 1
    
    def handle_endtag(self, tag):
        if tag in self.headings:
            self.isInHeadingTag = False

    def handle_data(self, data):
        if self.isInHeadingTag:
            print(' ' * self.indentation + data)

In [21]:
infile = open('w3c.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

<h1 style="color: #004b87;">Question 7</h1>
<p>Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.</p>
<pre>
<code>
&gt;&gt;&gt; webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
</code>
</pre>

<h3>Note:</h3>
<p>http://reed.cs.depaul.edu/lperkovic/csc242/test1.html - this url gave 404 response, so I'm using http://reed.cs.depaul.edu/lperkovic/one.html from Week 6 lecture notebook</p>

In [22]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [23]:
def analyze(url, indent):
    print('    ' * indent, url)
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks() 

    return urls

In [24]:
visited = set()

def webdir(url, depth, indent):
    
    if depth < 0:
        return
    
    global visited
    visited.add(url)
    
    links = analyze(url, indent)
    
    for link in links:
        try:
            webdir(link, depth - 1, indent + 1)
        except:
            pass

In [25]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 4, 0)

 http://reed.cs.depaul.edu/lperkovic/one.html
     http://reed.cs.depaul.edu/lperkovic/two.html
         http://reed.cs.depaul.edu/lperkovic/four.html
             http://reed.cs.depaul.edu/lperkovic/five.html
                 http://reed.cs.depaul.edu/lperkovic/four.html
                 http://reed.cs.depaul.edu/lperkovic/one.html
                 http://reed.cs.depaul.edu/lperkovic/two.html
     http://reed.cs.depaul.edu/lperkovic/three.html
         http://reed.cs.depaul.edu/lperkovic/four.html
             http://reed.cs.depaul.edu/lperkovic/five.html
                 http://reed.cs.depaul.edu/lperkovic/four.html
                 http://reed.cs.depaul.edu/lperkovic/one.html
                 http://reed.cs.depaul.edu/lperkovic/two.html

<h1 style="color: #004b87;">Question 8</h1>
<p>Write SQL queries on the below database table that return:</p>
<ol>
<li>All the temperature data.</li>
<li>All the cities, but without repetition.</li>
<li>All the records for India.</li>
<li>All the Fall records.</li>
<li>The city, country, and season for which the average rainfall is between 200 and 400 millimeters.</li>
<li>The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.</li>
<li>The total annual rainfall for Cairo.</li>
<li>The total rainfall for each season.</li>
</ol>
<img src="weather data.png" alt="Weather Data" style="float: left;" />

In [26]:
import sqlite3

connection = sqlite3.connect('weather.db')
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
);
'''
cursor.execute(create_table_query)

insert_data_query = '''
INSERT INTO Weather (City, Country, Season, Temperature, Rainfall) VALUES
('Mumbai', 'India', 'Winter', 24.8, 5.9),
('Mumbai', 'India', 'Spring', 28.4, 16.2),
('Mumbai', 'India', 'Summer', 27.9, 1549.4),
('Mumbai', 'India', 'Fall', 27.6, 346.0),
('London', 'United Kingdom', 'Winter', 4.2, 207.7),
('London', 'United Kingdom', 'Spring', 8.3, 169.6),
('London', 'United Kingdom', 'Summer', 15.7, 157.0),
('London', 'United Kingdom', 'Fall', 10.4, 218.5),
('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
('Cairo', 'Egypt', 'Fall', 22.2, 4.5);
'''

cursor.executescript(insert_data_query)

In [27]:
# Referred: 
#https://www.simplilearn.com/tutorials/python-tutorial/enumerate-in-python#:~:text=Enumerate%20is%20a%20built%2Din,iterating%20over%20the%20iterable%20object
#https://stackoverflow.com/questions/8450472/how-to-print-a-string-at-a-fixed-width

# Common method takes query as input and prints records in a tabular form
def executeAndPrintResults(query):
    cursor.execute(query)
    records = cursor.fetchall()
    column_names = [description[0] for description in cursor.description]
    
    widths = [len(column) for column in column_names]
    for record in records:
        for i, value in enumerate(record):
            widths[i] = max(widths[i], len(str(value)))
    
    # Printing the header
    header = ' | '.join(column.ljust(widths[i]) for i, column in enumerate(column_names))
    print('-' * (len(header)+4))
    print('|', header, '|')
    print('-' * (len(header)+4))
    
    # Printing the records
    for record in records:
        print('| ', end = '')
        print(' | '.join(str(value).ljust(widths[i]) for i, value in enumerate(record)), end = '')
        print(' |')
    print('-' * (len(header)+4))

In [28]:
print("a) All the temperature data:")
executeAndPrintResults("SELECT * FROM Weather")

a) All the temperature data:
-------------------------------------------------------------
| City   | Country        | Season | Temperature | Rainfall |
-------------------------------------------------------------
| Mumbai | India          | Winter | 24.8        | 5.9      |
| Mumbai | India          | Spring | 28.4        | 16.2     |
| Mumbai | India          | Summer | 27.9        | 1549.4   |
| Mumbai | India          | Fall   | 27.6        | 346.0    |
| London | United Kingdom | Winter | 4.2         | 207.7    |
| London | United Kingdom | Spring | 8.3         | 169.6    |
| London | United Kingdom | Summer | 15.7        | 157.0    |
| London | United Kingdom | Fall   | 10.4        | 218.5    |
| Cairo  | Egypt          | Winter | 13.6        | 16.5     |
| Cairo  | Egypt          | Spring | 20.7        | 6.5      |
| Cairo  | Egypt          | Summer | 27.7        | 0.1      |
| Cairo  | Egypt          | Fall   | 22.2        | 4.5      |
-------------------------------------------------------------

In [29]:
print("b) All the cities, but without repetition:")
executeAndPrintResults("SELECT DISTINCT City FROM Weather")

b) All the cities, but without repetition:
----------
| City   |
----------
| Mumbai |
| London |
| Cairo  |
----------

In [30]:
print("c) All the records for India:")
executeAndPrintResults("SELECT * FROM Weather WHERE Country = 'India'")

c) All the records for India:
------------------------------------------------------
| City   | Country | Season | Temperature | Rainfall |
------------------------------------------------------
| Mumbai | India   | Winter | 24.8        | 5.9      |
| Mumbai | India   | Spring | 28.4        | 16.2     |
| Mumbai | India   | Summer | 27.9        | 1549.4   |
| Mumbai | India   | Fall   | 27.6        | 346.0    |
------------------------------------------------------

In [31]:
print("d) All the Fall records:")
executeAndPrintResults("SELECT * FROM Weather WHERE Season = 'Fall'")

d) All the Fall records:
-------------------------------------------------------------
| City   | Country        | Season | Temperature | Rainfall |
-------------------------------------------------------------
| Mumbai | India          | Fall   | 27.6        | 346.0    |
| London | United Kingdom | Fall   | 10.4        | 218.5    |
| Cairo  | Egypt          | Fall   | 22.2        | 4.5      |
-------------------------------------------------------------

In [32]:
print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.")
executeAndPrintResults("SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
------------------------------------
| City   | Country        | Season |
------------------------------------
| Mumbai | India          | Fall   |
| London | United Kingdom | Winter |
| London | United Kingdom | Fall   |
------------------------------------

In [33]:
print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.")
executeAndPrintResults("SELECT City, Country FROM Weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature")

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
--------------------
| City   | Country |
--------------------
| Cairo  | Egypt   |
| Mumbai | India   |
--------------------

In [34]:
print("g) The total annual rainfall for Cairo.")
executeAndPrintResults("SELECT SUM(Rainfall) FROM Weather WHERE City = 'Cairo'")

g) The total annual rainfall for Cairo.
-----------------
| SUM(Rainfall) |
-----------------
| 27.6          |
-----------------

In [35]:
print("h) The total rainfall for each season.")
executeAndPrintResults("SELECT Season, SUM(Rainfall) FROM Weather GROUP BY Season")

h) The total rainfall for each season.
-------------------------------
| Season | SUM(Rainfall)      |
-------------------------------
| Fall   | 569.0              |
| Spring | 192.29999999999998 |
| Summer | 1706.5             |
| Winter | 230.1              |
-------------------------------

In [36]:
connection.commit()
connection.close()

<h1 style="color: #004b87;">Question 9</h1>
<p>Suppose list words is defined as follows:</p>
<pre><code>&gt;&gt;&gt; words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']</code></pre>
<p>Write list comprehension expressions that use list words and generate the following lists:</p><pre><code><ol><li>['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']</li>
<li>['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']</li>
<li>[3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).</li>
<li>[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)</li>
<li>['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)</li></ol></code></pre>

In [37]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [38]:
wordsUpper = []
wordsLower = []
wordsLength = []
wordsAll = []
words4OrMore = []

In [39]:
for word in words:
    wordsUpper.append(word.upper())
    wordsLower.append(word.lower())
    wordsLength.append(len(word))
    wordsAll.append([word.upper(), word.lower(), len(word)])
    if len(word) >= 4:
        words4OrMore.append(word)

In [40]:
print('Words in upper case:', wordsUpper)

Words in upper case: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [41]:
print('Words in lower case:', wordsLower)

Words in lower case: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [42]:
print('Length of words:', wordsLength)

Length of words: [3, 5, 5, 3, 5, 4, 3, 4, 3]

In [43]:
print('''The list containing a list for every word of list words, where each list contains 
the word in uppercase and lowercase and the length of the word:\n''', wordsAll)

The list containing a list for every word of list words, where each list contains
the word in uppercase and lowercase and the length of the word:
 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [44]:
print('The list of words in list words containing 4 or more characters:', words4OrMore)

The list of words in list words containing 4 or more characters: ['quick', 'brown', 'jumps', 'over', 'lazy']